<h1>Rock, Paper, Scissors Online </h1>

<form>
  Please enter your name:
  <input name="playername" type="text">
  <input type="submit" formaction="/game" value="New Game">
  <input type="submit" formaction="/multi" value="New Multiplayer Game">
</form>
