<form method="post">
  Now select an option!
  <select name="option">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <input value="Throw!" type="submit">
</form>
